.navbar-top {

  a {
    font-family: @headings-font-family;
    font-size: 0.8em;

    color: @text-color;
  }
}

header {
  margin-bottom: 10px;

  h5 {
    line-height: 1;
  }
}

.pad-out {
  padding: 0;
}

.content {
  background-color: #fff;
  border-radius: @border-radius-base;
  margin-top: 15px;
  color: @gray-darker;
  padding: 15px;
}
