article {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .post-title {
    margin-top: 0;
  }

  .post-title > a {
    color: @gray-dark;
  }

  .post-meta {
    color: @gray;
  }

  span {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
